## Spark DataFrame:

In this project, I will be experimenting with Spark DataFrame. Since Spark RDD object is not so suitable for structured data, I will use Spark DataFrame for basic data manipulation. Mainly, I will compare Spark DataFrame to Pandas DataFrame

In [1]:
import findspark

In [2]:
findspark.init('/Users/miradiz/Downloads/spark-3.1.2-bin-hadoop3.2')

In [3]:
import pyspark

In [4]:
## Instantiate SparkContext to as sc
sc = pyspark.SparkContext()
type(sc)

pyspark.context.SparkContext

### RDD:
One way to read a file into RDD is to use SparkContext object. But RDD doesn't provide columns and rows which makes it less structured compared to pandas.DataFrame object. Let's read the json file into RDD using SparkContext object for illustration.

In [24]:
qwe = sc.textFile("census_2010.json")
qwe.take(5)

['{"females": 1994141, "total": 4079669, "males": 2085528, "age": 0, "year": 2010}',
 '{"females": 1997991, "total": 4085341, "males": 2087350, "age": 1, "year": 2010}',
 '{"females": 2000746, "total": 4089295, "males": 2088549, "age": 2, "year": 2010}',
 '{"females": 2002756, "total": 4092221, "males": 2089465, "age": 3, "year": 2010}',
 '{"females": 2004366, "total": 4094802, "males": 2090436, "age": 4, "year": 2010}']

In [25]:
## The data above is of RDD class
type(qwe)

pyspark.rdd.RDD

## Spark DataFrame:

The Spark SQL class is very powerful. It gives Spark more information about the data structure we're using and the computations we want to perform. Spark uses that information to optimize processes.
To take advantage of these features, we'll have to use the SQLContext object to structure external data as a DataFrame, instead of the SparkContext object.

We can query Spark DataFrame objects with SQL, which we'll explore in the next lesson. The SQLContext class gets its name from this capability.

In [5]:
from pyspark.sql import SQLContext

In [7]:
sqlCtx = SQLContext(sc)
type(sqlCtx)

pyspark.sql.context.SQLContext

In [17]:
df = sqlCtx.read.json("census_2010.json")
df.show(5)

+---+-------+-------+-------+----+
|age|females|  males|  total|year|
+---+-------+-------+-------+----+
|  0|1994141|2085528|4079669|2010|
|  1|1997991|2087350|4085341|2010|
|  2|2000746|2088549|4089295|2010|
|  3|2002756|2089465|4092221|2010|
|  4|2004366|2090436|4094802|2010|
+---+-------+-------+-------+----+
only showing top 5 rows

In [26]:
## The data above is of sql.dataframe class
type(df)

pyspark.sql.dataframe.DataFrame

In [27]:
## Let's see the schema of the table 
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- females: long (nullable = true)
 |-- males: long (nullable = true)
 |-- total: long (nullable = true)
 |-- year: long (nullable = true)

## Pandas.DataFrame vs pyspark.DataFrame:
Pandas and Spark DataFrames also have different underlying data structures. Pandas DataFrames are built around Series objects, while Spark DataFrames are built around RDDs. We can perform most of the same computations and transformations on Spark DataFrames that we can on pandas DataFrames, but the styles and methods are different. Unlike pandas DataFrames, however, Spark DataFrames are immutable, which means we can't modify existing objects. Instead, most transformations on an object return a new DataFrame reflecting the changes.

In [30]:
## If we don't use show() method it won't print the result because of lazy loading advantage
## Let's look at columns: age and males
df.select('age', 'males').show(5)

+---+-------+
|age|  males|
+---+-------+
|  0|2085528|
|  1|2087350|
|  2|2088549|
|  3|2089465|
|  4|2090436|
+---+-------+
only showing top 5 rows

In [32]:
## Let's look at age column
df.select('age').show(5)

+---+
|age|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+
only showing top 5 rows

In [46]:
## In pandas, we used Boolean filtering to select only the rows we wanted. 
## Spark preserves the very same functionality and notation.
## Rows where age is more than 5
df[df['age'] > 5].show(5)

+---+-------+-------+-------+----+
|age|females|  males|  total|year|
+---+-------+-------+-------+----+
|  6|2007781|2093905|4101686|2010|
|  7|2010281|2097080|4107361|2010|
|  8|2013771|2101670|4115441|2010|
|  9|2018603|2108014|4126617|2010|
| 10|2023289|2114217|4137506|2010|
+---+-------+-------+-------+----+
only showing top 5 rows

In [42]:
## Let's look at the year column only with the same condition as above
df[df['age'] > 5][['year']].show(5)

+----+
|year|
+----+
|2010|
|2010|
|2010|
|2010|
|2010|
+----+
only showing top 5 rows

In [44]:
## The same as above (v2)
df[df['age'] > 5].select('year').show(5)

+----+
|year|
+----+
|2010|
|2010|
|2010|
|2010|
|2010|
+----+
only showing top 5 rows

In [48]:
## Display the rows where number of males are higher than females
df[df['males'] > df['females']].show(5)

+---+-------+-------+-------+----+
|age|females|  males|  total|year|
+---+-------+-------+-------+----+
|  0|1994141|2085528|4079669|2010|
|  1|1997991|2087350|4085341|2010|
|  2|2000746|2088549|4089295|2010|
|  3|2002756|2089465|4092221|2010|
|  4|2004366|2090436|4094802|2010|
+---+-------+-------+-------+----+
only showing top 5 rows

In [55]:
## Let's convert Spark DataFrame into Pandas DataFrame
pandas_df = df.toPandas()
pandas_df.head(5)

   age  females    males    total  year
0    0  1994141  2085528  4079669  2010
1    1  1997991  2087350  4085341  2010
2    2  2000746  2088549  4089295  2010
3    3  2002756  2089465  4092221  2010
4    4  2004366  2090436  4094802  2010

## THE END